# macs are annoying sometimes
.DS_Store

# latex output
[1-6].pdf
*.aux
*.dvi
*.log
*.fdb_latexmk
*.fls

# ocaml output
*.cmo
*.cmi
*.output

# hw1
lambda

#hw2
2/imp/lexer.ml
2/imp/parser.ml
2/imp/parser.mli
2/imp/imp
